.contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    &__desc-title {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
        color: $main_black_dark;
        margin-bottom: 55px;
        text-align: center;

        @media (max-width: $screen-laptop) {
            font-size: 24px;
            line-height: 28px;
        }

        @media (max-width: $screen-sm-min) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__divider {
        height: 1px;
        width: 170px;
        border: 0;
        background-color: $main_coral;
        margin-bottom: 40px;

        @media (max-width: $screen-laptop) {
            width: 142px;
         }
    }

    &__desc-subtitle {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $main_grey_light;
        margin-bottom: 70px;
        text-align: center;

        @media (max-width: $screen-laptop) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 40px;
         }

         @media (max-width: $screen-sm-min) {
            font-size: 13px;
            line-height: 15px;
        }
    }
}