$main_black_light: #212121;
$main_black_dark: #000000;
$main_grey_dark: #333333;
$main_grey_light: #86878b;
$main_coral: #ec7979;
$main_coral_dark: #ab4949;
$main_white: #ffffff;
$main_purple_light: #F8EFEF;
$main_sky: #F5F5F5;
$main_grey_transparent: rgba(255, 255, 255, 0.5);
$main_grey: #E2E2E2;
$main_white_dark: #C6CBCD;
$main_grey_ultralight: #BDBDBD;
$main_link: #CCCCCC;

$screen-sm-min-small: 421px;

$screen-sm-min: 596px;

$screen-sm-max: 700px;

$screen-md-min: 768px;

$screen-lg-min: 992px;

$screen-laptop-small: 1018px;

$screen-laptop: 1024px;

$screen-laptop-m: 1069px;

$screen-xl-min: 1233px;